body {
  line-height: 3em;
  font-size: 11pt;
}

h1,
h2,
h3 {
  page-break-after: avoid;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 100%;
}

img {
  max-width: 90%;
}

table {
  font-size: 80%;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-collapse: collapse;
  page-break-inside: avoid;
}

table th {
  border-bottom: 1.5px solid black;
  padding: 0 0.3em;
}

table td {
  border-top: 1px solid silver;
  padding: 0 1em;
}

figure {
  margin: 1em 0;
  page-break-before: always;
}

figure:nth-child(1) {
  page-break-before: auto;
}

figcaption {
  margin: 1em 0;
}

.authors {
  line-height: 1.5em;
}

.title {
  font-size: 150%;
}

.doi-link {
  margin-left: 1ex;
}
